body {
  background-image:url("https://images.pexels.com/photos/462023/pexels-photo-462023.jpeg?cs=srgb&dl=dawn-nature-sky-462023.jpg&fm=jpg");
  
}

#canvas {
  border:2px solid black;
  margin-left:370px;
 
}
@import url('https://fonts.googleapis.com/css?family=Orbitron');

h1 {
  font-family: 'Orbitron', sans-serif;
  display:flex;
  justify-content: center;

}



.start {
  
 
  width:300px;
  margin-left:370px;
  margin-top:100px;
}
#btn-2 {
  
}